.ui-dialog.ui-dialog-error 
{
	& .ui-dialog-titlebar
	{
		background: $primary-error !important;
		border: 0px !important;
		color: $primary-error-font !important;

		& .ui-button
		{
			display: none;
		}
	}
}