@charset "utf-8";
/* CSS Document */
.tabTable {	
	border: none;
	background: #FFF;
	border-radius: 3px;
}
.nykAdmSideCell{
	background-color: #00A6DD;
	color: #FFF;
	font-weight: bold;
}
.nykAdminCell {
	border-bottom: 1px solid #267098;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #338AB8;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
