h1
, h2
, h3
, h4
, h5
{
    box-sizing: border-box;
    margin: 0 0 12px 0;
    font-weight: normal;
    font-style: normal;

    &.bar-header
    {
    
        color: $table-header-color;
        font-size: 1.2em;
        margin: 0px 0 10px 0;
        background-color: $table-header-background;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        font-weight: normal;
    }
}

.block-header
{
    color: $table-header-color;
    font-size: 1.2em;
    line-height: 1.2em;
    width: auto;
    background-color: $table-header-background;
    padding: 5px !important;
    text-align: left;
    font-weight: normal;
}