help
{
	background: none;
	background-image: url(../images/icons/help-16x16.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 16px 16px;
	border: none;
	box-shadow: none;
	display: inline-block;
	content: none;
	min-width: 16px;
	min-height: 16px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-left: 5px;
	cursor: help;
	vertical-align: top;
	display: none;
}