.panel
{
	@include border-radius(4px);
	@include box-shadow(1px 1px 2px 0 rgba(0, 0, 0, 0.05));
	background: white;
	padding: 10px 5px 5px 5px;
	border: 1px solid #DEF0F4;
	padding: 10px;
	color: black;

	& .panelHeader
	, & .panelHeaderBig
	, > h1:first-child
	{
		height: 25px;
	    color: $table-header-color;
	    font-size: 1.2em;
	    width: auto;
	    background-color: $table-header-background;
	    padding: 5px;
	    text-align: left;
	    font-weight: normal;
		margin-top: -10px;
		margin-right: -10px;
		margin-left: -10px;
		margin-bottom: 10px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;

		& a
		{
			color: white;
			text-decoration: underline
		}
	}

	& .panelHeaderBig
	, > h1:first-child
	{
		background-color: $table-header-background;
		height: 38px;
		font-size: 22px;
		@include text-shadow();
		padding-left: 10px;
	}

	& .panelBody
	{
		padding: 10px 30px;
	}

	&.info
	{
		background-color: $primary-info;
		border-color: #bce8f1;
		color: #31708f;
	}

	&.selected
	{
		border: 1px solid rgb(86, 180, 239);
 		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), 0 0 0 3px rgb(86, 180, 239) !important;
	}

	& .panel
	{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
}

@media print
{
	.panel
	{
		@include box-shadow(none);
		border: 1px solid black;
		@include border-radius(0px);
	}
}