.row-flex
{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-ms-flex-pack: start;
	-webkit-box-align: flex;
	box-align: flex;
	-webkit-align-items: flex;
	-ms-align-items: flex;
	align-items: flex;
	-ms-flex-align: flex;
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-direction: normal;
	box-direction: normal;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-box-lines: single;
	box-lines: single;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;

	&.wrap
	{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	&.align-center
	{
		align-items: center;
		justify-content: center;
	}

	&.align-right
	{
		align-items: flex-end;
		justify-content: flex-end;
	}

	&.striped
	{
		& .row-item:nth-child(odd)
		{
			background-color: #FFF;
		}

		&:nth-child(even)
		{
			background-color: #F2F2F2;
		}
	}

	&.items-buffer-right
	{
		& .row-item:not(:last-child)
		{
			@extend .buffer-right;
		}
	}

	&.items-buffer-bottom
	{
		& .row-item
		{
			@extend .buffer-bottom;
		}
	}
}

.row-item
{
	flex-grow: 1;

	&.align-bottom
	{
		align-self: flex-end;
	}

	&.align-middle
	{
		align-items: center;
		justify-content: center;
	}

	&.grow
	{
		-webkit-flex-grow: 1;
		flex-grow: 1;
		-ms-flex-positive: 1;
		-webkit-flex-basis: 0;
		flex-basis: 0;
		-ms-flex-preferred-size: 0;
		box-sizing: border-box;
	}

	&.shrink
	{
		-webkit-flex-grow: 0;
		flex-grow: 0;
		-ms-flex-positive: 0;
		-webkit-flex-shrink: 0;
		flex-shrink: 0;
		-ms-flex-negative: 0;
		-webkit-flex-basis: auto;
		flex-basis: auto;
		-ms-flex-preferred-size: auto;
		width: initial;
	}

	&.size-1
	{
		flex-grow: 1;
	}

	&.size-2
	{
		flex-grow: 2;
	}

	&.size-3
	{
		flex-grow: 3;
	}
}

.table-flex
{
	& .wrapper
	{
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		flex-grow: 0;
		-webkit-flex-grow: 0;
	}

	&.striped
	{
		& .table-row:nth-child(odd):not(.header)
		{
			background-color: #FFF;
		}

		& .table-row:nth-child(even):not(.header)
		{
			background-color: #F2F2F2;
		}
	}

	& .table-row
	{
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		flex-wrap: no-wrap;
		-webkit-flex-wrap: no-wrap;
		width: 100%;

		&.header 
		{
			color: $table-header-color;
			font-size: 1.2em;
			background-color: $table-header-background;
			//padding: 10px 5px;
			text-align: left;
			font-weight: normal;
			border-top-left-radius: $border-radius-amount;
			border-top-right-radius: $border-radius-amount;
		}

		&.disabled
		{
			color: gray;
			@include linear-gradient(to right, $primary-error 0%, $primary-error 0.5%, transparent 0.5%, transparent 100%);
		}

		&.enabled
		{
			@include linear-gradient(to right, $primary-green 0%, $primary-green 0.5%, transparent 0.5%, transparent 100%);
		}

		&.align-middle
		{
			align-items: center;
		}

		&:not(.header)
		{

			& .col
			{
				&.text
				, &.text-long
				{
					font-size: 1.15em;
				}
			}
		}

		& .col
		{
			padding-right: $buffer-short;
			padding-top: $buffer-short;
			padding-bottom: $buffer-short;

			&.align-right
			{
				margin-left: auto !important;
			}

			&.align-middle
			{
				align-items: center;
				justify-content: center;
			}

			&:first-child
			{
				padding-left: $buffer-short;
			}

			&:last-child
			{
				padding-right: $buffer-short;
			}

			&.grow
			{
				@extend .row-item.grow;
			}

			&.text 
			{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				min-width: 160px;
			}

			&.text-long
			{
				@extend .col.text;
				min-width: $button-mega-width;
			}

			&.text-huge
			{
				@extend .col.text;
				min-width: $button-mega-width * 2;
			}

			&.text-short
			{
				@extend .col.text;
				min-width: 80px;
			}

			&.num
			{
				min-width: 80px;
				text-align: right;
			}

			&.date
			{
				@extend .col.text;
				min-width: 110px;
			}

			&.checkbox
			{
				min-width: 62px;
			}

			&.button
			{
				min-width: 62px;
			}

			&.button-short
			{
				min-width: $button-width;
			}

			&.button-long
			{
				min-width: $button-long-width;
			}

			&.full-width
			{
				@extend .col.text;
				min-width: 100%;
			}
		}
	}
}