#nykcFooter 
{
  color: $tertiary-font-color;
  background: $tertiary-background-color;
  height: 22px;
  line-height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  text-align: center;
}