// .octicon is optimized for 16px.
// .mega-octicon is optimized for 32px but can be used larger.
.octicon, .mega-octicon, .super-octicon, .bigger-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  a:visited &
  {
    color: inherit;
  }
}
.bigger-octicon { font-size: 22px; }
.mega-octicon { font-size: 32px; }
.super-octicon { font-size: 64px; }