.reportButton
{
	@extend .interactable;

	display: inline-block; 
	width: 14.6%; 
	text-align: center; 
	font-size: 1.25em; 
	border: 1px solid #666; 
	border-radius: 15px; 
	margin: 1%;

	& a
	{
		display: block; 
		width: 100%; 
		height: 100%; 
		padding: 12px 6px;
	}
}